<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
        .contenu {
            background-color: #ffffff;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 50px;
            border-top: 5px solid #C82D00;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        table, th, td {
            border: 1px solid #C82D00;
        }
        table {
            border-collapse: collapse;
            margin-bottom: 30px;
        }
        body{ border:1px solid #222;color:#333 }
    </style>
</head>

<body>
<div class="contenu">
<div class="title">
    <h1><img src="{{ asset('bundles/billetterie/images/logo.jpg') }} " style="margin-right:50px">Musée du Louvre</h1>
</div>
<div >
    <h2>Confirmation de commande</h2>
    <p>Ce mail fait office de billet. Imprimez-le et présentez-le à l'entrée lors de votre visite.</p>
    <p>Code réservation :RESERVATION{{ commande.id}}</p>
</div>
<table class="bordered highlight responsive-table ">
    <thead>
    <tr>
        <th>Désignation</th>
        <th>Détail des billets</th>
        <th class="text-right">Prix unitaire</th>
    </tr>
    </thead>

    <tbody>
    {% for billet in billets %}
        <tr>
            <td>
                <p class="bold">
                    {% if commande.typeBillet == "journée" %}
                        Billet journée
                    {% else %}
                        Billet demi-journée
                    {% endif %}
                </p>
                <p>
                    <span class="bold">Date de visite :</span> {{ commande.dateVisite|date('d/m/y') }}
                </p>
            </td>
            <td>
                {{ billet.prenomVisiteur|upper }} {{ billet.nomVisiteur|capitalize }}
                <span class="bold">
                        {% if commande.typeBillet == "journée" %}
                            ({{price[billet.PrixBillet]}})
                        {% else %}
                            (Tarif demi-journée)
                        {% endif %}
                  </span>
            </td>
            <td class="text-right bold">
                {{ billet.PrixBillet }} €
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="3" class="text-right bold"><h5>Montant total de la commande : {{ totale|number_format(2) }} €</h5></th>
    </tr>
    </tbody>
</table>

<div>
    <span>Musée du Louvre © 2017 Tous droits réservés</span>
</div>
</div>
</body>
</html>