{% extends "@Billetterie/layout.html.twig" %}

{% block title %}{{ parent() }} - Récapitulatif de la commande{% endblock %}

{% block top_column_h2 %}Récapitulatif de la commande{% endblock %}
{% block top_column_p %}Vérifiez votre commande et choisissez votre mode de paiement{% endblock %}

{% block center_column %}

<div class="clearfix">
    <div class="title">1. Vérifiez votre commande</div>
        <table class="bordered highlight responsive-table ">
            <thead>
            <tr>
                <th>Désignation</th>
                <th>Détail des billets</th>
                <th class="text-right">Prix unitaire</th>
            </tr>
            </thead>

            <tbody>
            {% for billet in billets %}
                <tr>
                    <td>
                        <p class="bold">
                            {% if commande.typeBillet == "journée" %}
                                Billet journée
                            {% else %}
                                Billet demi-journée
                            {% endif %}
                        </p>
                        <p>
                            <span class="bold">Date de visite :</span> {{ commande.dateVisite|date('d/m/y') }}
                        </p>
                    </td>
                    <td>
                        {{ billet.prenomVisiteur|upper }} {{ billet.nomVisiteur|capitalize }}
                        <span class="bold">
						({{price[billet.PrixBillet]}})
                        </span>
                    </td>
                    <td class="text-right bold">
                        {{ billet.PrixBillet }} €
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3" class="text-right bold"><h5>Montant total de la commande : {{ totale }} €</h5></th>
            </tr>
            </tbody>
        </table>

    <div class="title">2.<a href="#" class="btn btn-default valider bold">Valider</a> <span style="margin-left: 15px">ou</span><a href="#" class="btn btn-default modif bold">Modifier votre commande</a></div>
</div>

{% endblock %}